@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lobster";
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #70e0f5, #ffd194);
}

h1 {
  font-size: xx-large;
}

.header {
  font-size: x-large;
  margin-bottom: 48px;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1000px;
  margin: 0 auto;
}

.center {
  margin: 64px 0;
  display: flex;
  gap: 36px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 800px;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.5em;
}

.cell-hiden {
  border: 4px solid rgb(108, 100, 100);
  width: 80px;
  height: 80px;
  text-align: center;
  box-shadow: 2px 2px rgb(59, 57, 57);
}

button {
  font-size: large;
  border-radius: 12px;
  width: 150px;
  border-color: #646FD4;
  background-color: #DBDFFD;
}

.restart {
  width: 150px;
  height: 50px;
  margin: 20px;
}

table {
  /* border: 2px solid black; */
}

.lives {
  /* border: 2px solid red; */
  font-size: 70px;
  margin-top: 400px;
}

.timer {
  margin-top: 10px;
}


.popup{

  position: absolute;
  border-style: solid;
  background-color: #F9EBC8;
  border-color:#FEFBE7;
  width: 250px;
  height: 60px;
  border-radius: 12px;
  text-align: center;
  font-size:xx-large;
  top: 590px;
  opacity: 0.5;
  display: none;
} 

.undo{
display: none;
  background-color: #ffd194;
  top: 590px;
}